@model SistemaReservaEnLinea.Models.Lugar
@{
    ViewData["Title"] = "Agregar Lugar";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <form id="addLugares" class="section general-info" action="~/Lugares/AddLugar" method="post">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="section general-info">
                            <div class="info">
                                <h6 class="">Información general del Lugar</h6>
                                <div class="row">
                                    <div class="col-lg-11 mx-auto">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <input type="hidden" name="Id" id="txtId" value="@Model.Id" />
                                                    <label for="txtNombre">Nombre del Escenario</label>
                                                    <input type="text" class="form-control mb-4" name="Nombre" id="txtNombre" required placeholder="Nombre completo" value="@Model.Nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="txtTelefono">Teléfono</label>
                                                    <input type="text" class="form-control mb-4" id="txtTelefono" name="Telefono" placeholder="221190191" required value="@Model.Telefono">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="txtEmail">Email</label>
                                                    <input type="text" class="form-control mb-4" name="Email" id="txtEmail" required value="@Model.Email">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="Password">Website</label>
                                                    <input type="text" class="form-control mb-4" id="txtWebsite" name="Website" required placeholder="http://www.usam.edu.sv" value="@Model.Website">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="txtDescripcion">Descripción</label>
                                                    <textarea class="form-control mb-4" name="Descripcion" id="txtDescripcionSendHotel">@Model.Descripcion</textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="section contact">
                            <div class="info">
                                <h5 class="">Dirección del Escenario</h5>
                                <div class="row">
                                    <div class="col-md-11 mx-auto">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtDireccion">Dirección</label>
                                                    <input type="text" class="form-control mb-4" name="Direccion" id="txtDireccion" placeholder="19 Av. Nte. entre 3 a Calle Pte. y Alameda Juan Pablo II,"  value="@Model.Direccion">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtCiudad">Departamento</label>
                                                    <input type="text" class="form-control mb-4" name="Estado" id="txtEstado" placeholder="San Salvador" value="@Model.Departamento">                                               
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtCiudad">Ciudad / Municipio</label>
                                                    <input type="text" class="form-control mb-4" id="txtCiudad" name="Ciudad" placeholder="San Salvador" value="@Model.Ciudad">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtCodigoPostal">Código Postal</label>
                                                    <input type="text" class="form-control mb-4" id="txtCodigoPostal" name="CodigoPostal" placeholder="00000" max="5" min="5"  value="@Model.CodigoPostal">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div id="map_canvas" style="height:350px">

                                                </div>
                                                <input type="hidden" name="Latitud" id="txtLat"  value="@Model.Latitud"/>
                                                <input type="hidden" name="Longitud" id="txtLng"  value="@Model.Longitud"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="section contact">
                            <div class="info">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="">Fotos del Escenario</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <button id="select-imgs" class="btn btn-primary">Seleccionar imagen</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="row" id="fotosmilugar">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="section contact">
                            <div class="info">
                                <h5 class="">Instalaciones y redes sociales</h5>
                                <div class="row">
                                    <div class="col-md-11 mx-auto">
                                        <div class="row">

                                            @{ int count = 1;
                                                bool cierra = false;
                                                foreach (var item in ViewBag.Instalaciones)
                                                {
                                                    string strChk = "check_" + item.Id.ToString();
                                                    if (count == 1)
                                                    {
                                                        @Html.Raw("<div class=\"col-md-4\">")
                                                    }
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="@strChk" name="Caracteristica" value="@item.Id">
                                                        <label class="custom-control-label" for="@strChk">@item.Nombre</label>
                                                    </div>
                                                    if (ViewBag.InstalacionesDivs == count)
                                                    {
                                                        @Html.Raw("</div>")
                                                        count = 1;
                                                        cierra = true;
                                                    }
                                                    else
                                                    {
                                                        count += 1;
                                                        cierra = false;
                                                    }
                                                }
                                                if (cierra == false)
                                                {
                                                    @Html.Raw("</div>")
                                                }
                                            }

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtWhatsApp">WhatsApp</label>
                                                    <input type="text" class="form-control mb-4" id="txtWhatsApp" name="WhatsApp" placeholder="22124432" value="@Model.WhatsApp">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtFacebook">Facebook</label>
                                                    <input type="text" class="form-control mb-4" id="txtFacebook" name="Facebook" placeholder="Universidad Salvadoreña Alberto Masferrer" value="@Model.Facebook">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtInstagram">Instagram</label>
                                                    <input type="text" class="form-control mb-4" id="txtInstagram" name="Instagram" placeholder="Universidad Salvadoreña Alberto Masferrer" value="@Model.Instagram">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtTwitter">Twitter</label>
                                                    <input type="text" class="form-control mb-4" id="txtTwitter" name="Twitter" placeholder="Universidad Salvadoreña Alberto Masferrer" value="@Model.Twitter">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="account-settings-footer">

        <div class="as-footer-container">
            <button id="multiple-reset" class="btn btn-warning" style="padding: 0px;margin: 0px;border: 0px;"></button>
            @*<div class="blockui-growl-message">
                    <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
                </div>*@
            <button id="multiple-messages" class="btn btn-primary btnAjaxAdd" data-formulario="#addLugares">Guardar información  </button>

        </div>

    </div>
</div>


<div id="modal-image" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Selecciona las imagenes necesarias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4" style="margin-left:15px">
                            <input type="text" class="form-control" id="txtBuscar" placeholder="Buscar imágen" aria-label="Buscar imágen">
                            <div class="input-group-append">
                                <button id="btnBuscarImage" class="btn btn-primary" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-right">
                        <button id="addImagen" class="btn btn-primary btn-rounded mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></svg>
                            Agregar imágen
                        </button>
                    </div>
                </div>
                <div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1">

                </div>
                <div class="style-select" style="display:none;">
                    <h5 style="visibility: hidden;">Reserva en Línea</h5>
                    <div class="radio mb-4">
                        <div class="d-flex">
                            <div class="n-chk">
                                <label class="new-control new-radio radio-info">
                                    <input type="radio" id="radio-all-controls" class="new-control-input" name="gallery-style" checked>
                                    <span class="new-control-indicator"></span>
                                    <span class="">
                                        All controls<br />
                                        <span>caption, share and fullscreen buttons, tap to toggle controls</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="radio mb-4">
                        <div class="d-flex">
                            <div class="n-chk">
                                <label class="new-control new-radio radio-info">
                                    <input type="radio" id="radio-minimal-black" class="new-control-input" name="gallery-style">
                                    <span class="new-control-indicator"></span>
                                    <span class="">
                                        Minimal<br />
                                        <span>no caption, transparent background, tap to close</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                    <!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
                    <div class="pswp__bg"></div>

                    <!-- Slides wrapper with overflow:hidden. -->
                    <div class="pswp__scroll-wrap">
                        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                        <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>

                        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                        <div class="pswp__ui pswp__ui--hidden">

                            <div class="pswp__top-bar">

                                <!--  Controls are self-explanatory. Order can be changed. -->
                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                <!-- element will get class pswp__preloader--active when preloader is running -->
                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                        <div class="pswp__preloader__cut">
                                            <div class="pswp__preloader__donut"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div>
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Imágenes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">

                <div class="compose-box">
                    <div class="compose-content" id="addTaskModalTitle">
                        <form id="formLoadImage" action="~/Galeria/UploadImagen" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="upload mt-4 pr-md-4">
                                        <input type="file" id="input-file-max-fs" name="file" class="dropify" data-allowed-file-extensions="png jpg jpeg gif bmp"
                                               data-default-file="@Url.Content("~/admin/white/assets/img/1280x857.jpg")" data-max-file-size="2M" />
                                        <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Seleccionar foto (1280 x 857 pixeles)</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Nombre">Descripción</label>
                                        <input type="text" class="form-control mb-4" name="Nombre" id="Nombre" required placeholder="Foto del lugar, evento, etc" value="">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Cancelar</button>
                <button class="btn btn-primary btnAjaxAdd" data-formulario="#formLoadImage">Guardar Imágen</button>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <form id="addImgs" class="section general-info" action="~/Galeria/AsignarImagenes" method="post">
        <input type="text" name="LugarId" id="txtHotelId" />
        <input type="text" name="ImagenId" id="txtImagenId" />
    </form>
    <button id="saveImagenHotel" class="btnAjaxAdd" data-formulario="#addImgs"></button>
</div>


@section styles{
    <link href="@ViewBag.Color/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@ViewBag.Color/plugins/editors/markdown/simplemde.min.css">
    <link href="@ViewBag.Color/plugins/lightbox/photoswipe.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.Color/plugins/lightbox/default-skin/default-skin.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.Color/plugins/lightbox/custom-photswipe.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.Color/assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />
    
    <style>
        .btnSelectImagen {
            position: absolute;
            top: 10px;
            right: -5px;
        }
    </style>
}
@section scripts{
    <script src="@ViewBag.Color/plugins/lightbox/photoswipe.min.js"></script>
    <script src="@ViewBag.Color/plugins/lightbox/photoswipe-ui-default.min.js"></script>
    <script src="@ViewBag.Color/plugins/lightbox/custom-photswipe.js"></script>
    <script src="@ViewBag.Color/assets/js/users/account-settings.js"></script>
    <script src="~/admin/black/plugins/editors/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVdtBhclytUlAZrPbMHUlQRy0gpDfFcv8"></script>
    <script>
        var vMarker
        var map

        var page = 0;
        var strBuscar = "";
        var cargar = false;

        $(document).ready(function () {
            $("#select-imgs").click(function (event) {
                event.preventDefault();
                $("#modal-image").modal("show");
            });

            $.ajaxSetup({ cache: false })
            $("#demo-test-gallery").load("@Url.Content("~/Galeria/Imagenes?page=0")" + "&opcion=seleccionar&h=", function (response, status, xhr) {
                $(".loadingCargando").hide();
            })

            $("#fotosmilugar").load("@Url.Content("~/Lugares/ImagenesLugar?id=" + Model.Id)" + "&opcion=seleccionar&h=", function (response, status, xhr) {
            });
            $("#btnBuscarImage").click(function (event) {
                event.preventDefault();
                strBuscar = $("#txtBuscar").val();
                $("#demo-test-gallery").load("@Url.Content("~/Galeria/Imagenes?page=0")" + "&strSearch=" + encodeURIComponent(strBuscar) + "&opcion=seleccionar", function (response, status, xhr) {
                    $(".loadingCargando").hide();
                });
            });

            $('#txtBuscar').keyup(function (e) {
                if (e.keyCode == 13)
                {
                    $("#btnBuscarImage").trigger("click");
                }
            });
            $('#addTaskModal').on('hidden.bs.modal', function (e) {
                $('input[type="text"]').val("");
                $('input[type="file"]').val(null);
                $(".dropify-render").find("img").attr("src", "/admin/white/assets/img/1280x857.jpg");
                $(".dropify-filename-inner").text("Seleccione una imágen")
                cargar = false;
            });


        $("#modal-image").scroll(function () {
            if (cargar == false) {
                if ($(window).scrollTop() + 200 >= $(document).height() - $(window).height()) {
                    cargar = true;
                    page += 1;
                    $.get("@Url.Content("~/Galeria/Imagenes")" + "?page=" + page +
                        "&strSearch=" + encodeURIComponent(strBuscar) + "&opcion=seleccionar", function (resultado) {
                            if (resultado == "false" || resultado=="false\r\n") {
                                cargar = true;
                            } else {
                                $("#demo-test-gallery").append(resultado);
                                cargar = false;
                            }

                    });
                }
            }

        });

        $("#addImagen").click(function (event) {
            event.preventDefault();
            $("#addTaskModal").modal("show")
        })



            const config = {
                language: 'es',
                format_tags: 'p;h1;h2;h3;h5;h4;h6;pre'
            };
            const editor = document.getElementById("txtDescripcionSendHotel");
            CKEDITOR.replace(editor, config);
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 14,
                center: new google.maps.LatLng(13.7013788, -89.2001223),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            vMarker = new google.maps.Marker({
                position: new google.maps.LatLng(13.7013788, -89.2001223),
                draggable: true
            });
            google.maps.event.addListener(vMarker, 'dragend', function (evt) {
                $("#txtLat").val(evt.latLng.lat().toFixed(6));
                $("#txtLng").val(evt.latLng.lng().toFixed(6));

                map.panTo(evt.latLng);
            });
            map.setCenter(vMarker.position);
            vMarker.setMap(map);

            $("#txtCiudad, #txtEstado, #txtDireccion").change(function () {
                movePin();
            });
        });

        function movePin() {
            var geocoder = new google.maps.Geocoder();
            var textSelectM = $("#txtCiudad").text();
            var textSelectE = $("#txtEstado").val();
            var inputAddress = $("#txtDireccion").val() + ' ' + textSelectM + ' ' + textSelectE;
            geocoder.geocode({
                "address": inputAddress
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    vMarker.setPosition(new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()));
                    map.panTo(new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()));
                    $("#txtLat").val(results[0].geometry.location.lat());
                    $("#txtLng").val(results[0].geometry.location.lng());
                }

            });
        }

        var valorTriggerChane = false;
        var imagenId = 0;
        function seleccionarImagen(objs) {
            $("#addImgs").attr("action", "@Url.Content("~/Galeria/AsignarImagenes")");
            if ($("#txtId").val() < 1) {
                valorTriggerChane = true;
                imagenId = $(objs).data("id");
                $("#multiple-messages").trigger("click");
            } else {
                $("#txtImagenId").val($(objs).data("id"));
                $("#txtHotelId").val($("#txtId").val());
                $("#saveImagenHotel").trigger("click");
                $(".pswp__button--close").trigger("click");
            }
        }
        $("#txtId").bind("change", function() { 
            if (valorTriggerChane == true) {
                valorTriggerChane = false;
                $("#txtImagenId").val(imagenId);
                $("#txtHotelId").val($("#txtId").val());
                $("#saveImagenHotel").trigger("click");
                $(".pswp__button--close").trigger("click");
            }
        }); 

        function eliminarrelacionimagen(id, objeto) {
            objeto.preventDefault();
            $("#addImgs").attr("action", "@Url.Content("~/Galeria/EliminarRelacion")")
            $("#txtImagenId").val(id);
                $("#txtHotelId").val($("#txtId").val());
                $("#saveImagenHotel").trigger("click");
        }
    </script>
}