
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="row layout-top-spacing">
    <div class="col-lg-12 col-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>
                            Galería de imágenes <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-loader spin ml-2 loadingCargando">
                                <line x1="12" y1="2" x2="12" y2="6"></line>
                                <line x1="12" y1="18" x2="12" y2="22"></line>
                                <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                <line x1="2" y1="12" x2="6" y2="12"></line>
                                <line x1="18" y1="12" x2="22" y2="12"></line>
                                <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                            </svg> <span class="loadingCargando">cargando</span>
                        </h4>

                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-4" style="margin-left:15px">
                            <input type="text" class="form-control" id="txtBuscar" placeholder="Buscar imágen" aria-label="Buscar imágen">
                            <div class="input-group-append">
                                <button id="btnBuscarImage" class="btn btn-primary" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-right">
                        <button id="addImagen" class="btn btn-primary btn-rounded mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></svg>
                            Agregar imágen
                        </button>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">

                <div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1">



                </div>
                <div class="style-select" style="display:none;">
                    <h5 style="visibility: hidden;">Reserva en Línea</h5>
                    <div class="radio mb-4">
                        <div class="d-flex">
                            <div class="n-chk">
                                <label class="new-control new-radio radio-info">
                                    <input type="radio" id="radio-all-controls" class="new-control-input" name="gallery-style" checked>
                                    <span class="new-control-indicator"></span>
                                    <span class="">
                                        All controls<br />
                                        <span>caption, share and fullscreen buttons, tap to toggle controls</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="radio mb-4">
                        <div class="d-flex">
                            <div class="n-chk">
                                <label class="new-control new-radio radio-info">
                                    <input type="radio" id="radio-minimal-black" class="new-control-input" name="gallery-style">
                                    <span class="new-control-indicator"></span>
                                    <span class="">
                                        Minimal<br />
                                        <span>no caption, transparent background, tap to close</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                    <!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
                    <div class="pswp__bg"></div>

                    <!-- Slides wrapper with overflow:hidden. -->
                    <div class="pswp__scroll-wrap">
                        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                        <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>

                        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                        <div class="pswp__ui pswp__ui--hidden">

                            <div class="pswp__top-bar">

                                <!--  Controls are self-explanatory. Order can be changed. -->
                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                <!-- element will get class pswp__preloader--active when preloader is running -->
                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                        <div class="pswp__preloader__cut">
                                            <div class="pswp__preloader__donut"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div>
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                            </button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                            </button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Imágenes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">

                <div class="compose-box">
                    <div class="compose-content" id="addTaskModalTitle">
                        <form id="formLoadImage" action="~/Galeria/UploadImagen" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="upload mt-4 pr-md-4">
                                        <input type="file" id="input-file-max-fs" name="file" class="dropify" data-allowed-file-extensions="png jpg jpeg gif bmp"
                                               data-default-file="@Url.Content("~/admin/white/assets/img/1280x857.jpg")" data-max-file-size="2M" />
                                        <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Seleccionar foto (1280 x 857 pixeles)</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Nombre">Descripción</label>
                                        <input type="text" class="form-control mb-4" name="Nombre" id="Nombre" required placeholder="Foto del lugar, evento, etc" value="">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Cancelar</button>
                <button class="btn btn-primary btnAjaxAdd" data-formulario="#formLoadImage">Guardar Imágen</button>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="@ViewBag.Color/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.Color/plugins/lightbox/photoswipe.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.Color/plugins/lightbox/default-skin/default-skin.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.Color/plugins/lightbox/custom-photswipe.css" rel="stylesheet" type="text/css" />
    <style>
        .has-preview {
            height: 300px;
        }
    </style>
}
@section scripts{
    <script src="@ViewBag.Color/assets/js/users/account-settings.js"></script>
    <script src="@ViewBag.Color/plugins/lightbox/photoswipe.min.js"></script>
    <script src="@ViewBag.Color/plugins/lightbox/photoswipe-ui-default.min.js"></script>
    <script src="@ViewBag.Color/plugins/lightbox/custom-photswipe.js"></script>
    <script>
        $.ajaxSetup({ cache: false })
        $("#demo-test-gallery").load("@Url.Content("~/Galeria/Imagenes?page=0")", function (response, status, xhr) {
            $(".loadingCargando").hide();
        })

        $("#btnBuscarImage").click(function(event) {
            event.preventDefault();
            strBuscar = $("#txtBuscar").val();
            $("#demo-test-gallery").load("@Url.Content("~/Galeria/Imagenes?page=0")" + "&strSearch=" + encodeURIComponent(strBuscar), function (response, status, xhr) {
                $(".loadingCargando").hide();
            });
        });

        $('#txtBuscar').keyup(function(e){
    if(e.keyCode == 13)
    {
        $("#btnBuscarImage").trigger("click");
    }
});

        $('#addTaskModal').on('hidden.bs.modal', function (e) {
            $('input[type="text"]').val("");
            $('input[type="file"]').val(null);
            $(".dropify-render").find("img").attr("src", "/admin/white/assets/img/1280x857.jpg");
            $(".dropify-filename-inner").text("Seleccione una imágen")
        })

        var page = 0;
        var strBuscar = "";
        var cargar = false;
        $(window).scroll(function () {
            if (cargar == false) {
                if ($(window).scrollTop() + 200 >= $(document).height() - $(window).height()) {
                    cargar = true;
                    page += 1;
                    $.get("@Url.Content("~/Galeria/Imagenes")" + "?page=" + page +
                        "&strSearch=" + encodeURIComponent(strBuscar), function (resultado) {
                            if (resultado == "false" || resultado=="false\r\n") {
                                cargar = true;
                            } else {
                                $("#demo-test-gallery").append(resultado);
                                cargar = false;
                            }

                    });
                }
            }

        });

        $("#addImagen").click(function (event) {
            event.preventDefault();
            $("#addTaskModal").modal("show")
        })
    </script>
}

