@model SistemaReservaEnLinea.Models.Eventos
@using Microsoft.Extensions.Options
@inject IOptions<SistemaReservaEnLinea.ViewModels.PaypalApiSetting> pSetting
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="inner_banner" class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-text">
                    <h2>@Model.Titulo</h2>
                    <div class="inner-link">
                        <span><a href="~/">Inicio</a></span>
                        <span>/</span>
                        <span><a href="~/BuscarEvento">Reservación</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tour-package" class="tour tour-other section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Información para la reserva</h4>
                <form id="formNewCommentAdd" action="~/Evento/EnviarComentaio/" method="post">
                    <div class="comments-title d-md-none d-lg-none">
                        <h4>Deja un comentario</h4>
                    </div>
                    <div class="row form-detail blogdetails_form">

                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Nombre" required placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="email"
                                       class="form-control"
                                       placeholder="E-mail" name="email" required />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="tel"
                                       class="form-control"
                                       placeholder="Teléfono" name="Telefono" required />
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <input type="tel"
                                       class="form-control"
                                       placeholder="Dirección" name="Direccion" required />
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <textarea name="mensaje"
                                          placeholder="Requerimientos especiales" required></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="blog_grid_btn">
                                <button type="submit" class="bro-btn2 btnAjaxAdd" data-formulario="#formNewCommentAdd">Comentar</button>
                                <div id="div_sbtn1" class="bro-btn2"></div>
                            </div>
                        </div>
                        <div class="col-8 col-md-8">
                            <div class="blog_grid_btn">

                            </div>
                        </div>

                        <input type="hidden" name="PadreId" id="txtPadreId" />
                        <input type="hidden" name="EventoId" value="@Model.Id" />
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Información de la reservación
                    </div>
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @{
                                    int cont = 0;
                                    foreach (var item in Model.ImagenesAsociadas)
                                    {
                                        string strActivo = cont == 0 ? "active" : "";
                                        <li data-target="#carouselExampleCaptions" data-slide-to="@cont" class="@strActivo"></li>
                                        cont += 1;
                                    }
                                }
                            </ol>
                            <div class="carousel-inner">
                                @{
                                    cont = 0;
                                    foreach (var item in Model.ImagenesAsociadas)
                                    {
                                        string strActivo = cont == 0 ? "active" : "";
                                        string strImg = Url.Content("~/ImagesUpload/" + item.Imagenes.Imagen);
                                        <div class="carousel-item @strActivo">
                                            <img src="@strImg" class="d-block w-100" alt="@Model.Titulo">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>@Model.Titulo</h5>
                                            </div>
                                        </div>
                                        cont += 1;
                                    }
                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previo</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 text-center bg-light p-2">
                                Check in<br />
                                @ViewBag.CheckIn
                            </div>
                            <div class="col-md-6 text-center bg-light p-2">
                                Check out<br />
                                @ViewBag.CheckOut
                            </div>
                            <div class="col-md-6 text-center bg-light p-2 mt-2">
                                Cantidad<br />
                                @ViewBag.Cantidad
                            </div>
                            <div class="col-md-6 text-center bg-light p-2 mt-2">
                                Total<br />
                                @ViewBag.TotalReserva
                            </div>
                            <div class="col-md-12 mt-3">
                                <table action="~/Reserva/EnviarReserva/">
                                    <tr>
                                        <td class="p-2">Total a pagar</td>
                                        <td class="p-2">$ @ViewBag.TotalEvento</td>
                                        <td class="p-2">
                                            <button type="submit" class="btn btn-succes" id="btnSerial" data-toggle="modal" data-target="#FactModal">
                                                <i class="fas fa-ticket-alt">
                                                    Reservar
                                                </i>
                                            </button>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="FactModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">

                        <hr />
                        <hr />

                        <div id="content" class="col-lg-12">
                            <div class="row">
                                <div class="form-group">

                                </div>
                            </div>

                            <h1 class="h4 mb-0">Datos de Factura: <span id="txtSerial"></span></h1>
                            <hr />
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group" style="padding:7px;">
                                        <label for="order_created" style="padding:5px;">Fecha de creacion: </label>
                                        <input type="text" id="feDate" value="@DateTime.Now" class="datepicker-disabled form-control" disabled="" style="padding:7px;" />
                                        <label for="supplier" style="padding:5px;">Nombre del Cliente: </label>
                                        <input type="text" placeholder="Alumno o Docente" style="padding:7px;">
                                        <label for="order_created">Evento a Reservar: @Model.Titulo</label>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <hr />
                                    <div class="d-flex align-items-center justify-content-between">
                                        <strong>Total Comprobante:</strong>
                                        <strong style="padding:7px;"><input value="@ViewBag.TotalReserva" readonly type="text" id="total" class="form-control" placeholder=""></strong>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="card card-body card-subtotals bg-light">
                                        <ul class="list-unstyled">
                                            <li>
                                                <div>Cantidad de productos</div>
                                                <div style="padding:7px;"><input value="@ViewBag.Cantidad" readonly type="text" id="cantidad" class="form-control" placeholder=""></div>
                                            </li>

                                            <li>
                                                <div>Total Venta</div>
                                                <div style="padding:7px;"><input value="$ @ViewBag.TotalEvento" readonly type="text" id="totalVenta" class="form-control" placeholder=""></div>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="editor" style="text-align:center;">
                                <hr />
                                <button id="cmd" class="btn btn-primary">Generar Factura</button>
                                <button type="button" class="btn btn-primary" id="btnSerial">Generar número</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>
<script src="~/js/html2pdf.bundle.min.js"></script>
@section scripts{
    <script src="https://www.paypal.com/sdk/js?client-id=ATiy4eCWDb1i64rRo5HXitwaN8Ep4AnePZQxkrWewpd7S_RPDhGk306xctYnoyKKxAQ6Q5ciTGW0mBGF" id="paypal_sdk"></script>
    <script>
        paypal.Buttons().render('#div_sbtn1');
    </script>
}
